footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 50px;
    color: var(--text-secondary);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 0.9rem;
    background: var(--secondary);
    border-radius: 6px;

    @media screen and (max-width: 576px) {
        padding: 10px 0;
        margin-top: 10px;
    }

    .footer-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 10px;
        @media screen and (max-width: 576px) {
            padding: 5px;
        }
        .footer-section {
            //flex: 1;
            min-width: 250px;
            margin-bottom: 20px;
            padding: 10px;
            border-radius: 6px;

            @media screen and (max-width: 576px) {
                min-width: 135px;
                padding: 5px;
                margin-bottom: 10px;
            }
            h3 {
                color: var(--text);
                margin-bottom: 15px;
                font-size: 18px;
            }
            ul {
                list-style: none;

                @media screen and (max-width: 576px) {
                    width: 100%;
                    text-align: start;
                }


                li {
                    margin-bottom: 12px;
                    a {
                        color: var(--text);
                        text-decoration: none;
                        transition: color 0.3s;
                        font-size: 14px;
                        text-align: start;
                        width: 100%;
                        &:hover {
                            color: var(--text-secondary);
                        }
                    }
                }
            }
            .socials{
                gap: 10px;
                border-radius: 50%;
                padding: 10px;

                a{
                    padding: 6px 8px;
                    background: var(--car-bg);
                    color: var(--text);
                    text-decoration: none;
                    transition: color 0.3s;
                    margin: 0 10px;
                    border-radius: 30px;
                    font-size: 18px;
                    box-shadow: var(--shadow);


                    &:hover{
                        color: var(--text-secondary);
                        background: var(--card-hover);
                    }
                }
            }
        }
    }

    .copyright {
        text-align: center;
        padding-top: 20px;
        margin-top: 20px;
        border-top: 1px solid var(--light-gray);
        color: var(--gray);
        font-size: 14px;

        /*two*/
        border-top: 1px solid rgba(255, 255, 255, 0.1);
    }
}