.detail-content {
    padding: 10px;
    .tabs {
        display: flex;
        border-radius: 12px 12px 0 0;
        overflow: hidden;
        box-shadow: var(--shadow);
        margin-bottom: 1px;
        border-bottom: none;
        background: var(--card-bg);
        .tab {
            cursor: pointer;
            padding: 15px 25px;
            font-weight: 600;
            transition: all 0.3s;
            text-align: center;
            flex: 1;
            color: var(--text-secondary);
            font-size: 15px;
            border-bottom: 2px solid transparent;
            &.active {
                color: var(--text);
                border-bottom: 2px solid var(--text-secondary);
            }
            &:hover:not(.active) {
                color: var(--text);
            }

            @media screen and (max-width: 576px){
                padding: 15px 10px;
                //font-size: 14px;
            }
        }
    }

    /* Tab Content */
    .tab-content {
        background: var(--card-bg);
        box-shadow: var(--shadow);
        border: 1px solid var(--light-gray);
        border-top: none;
        padding: 25px;
        border-radius: 0 0 10px 10px;
        margin-bottom: 20px;
        animation: fadeIn 0.3s ease;
        &.active {
            display: block;
            animation: fadeIn 0.3s ease;
        }

        @media screen and (max-width: 576px){
            padding: 8px;
            margin-bottom: 10px;
        }
    }
    .highlight-btn {
        display: block;
        width: 100%;
        background: var(--highlight);
        color: white;
        border: none;
        padding: 15px;
        border-radius: 8px;
        font-size: 1.1rem;
        font-weight: 600;
        cursor: pointer;
        transition: var(--transition);
        text-align: center;
        text-decoration: none;
        margin-top: 30px;
        box-shadow: 0 5px 15px rgba(255, 77, 109, 0.3);
        &:hover {
            background: var(--highlight);
            transform: translateY(-3px);
            box-shadow: 0 8px 20px rgba(255, 77, 109, 0.4);
        }

        i {
            margin-right: 8px;
        }
    }

    @media  screen and (max-width: 576px) {
        padding: 0;
        h2{
            font-size: 17px;
            font-weight: 600;
        }

        .highlight-btn{
            padding: 8px;
            margin-top: 15px;
            h2{
                font-size: 15px;
                font-weight: 600;
            }
        }
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}