.league-table {
    width: 100%;
    border-collapse: collapse;

    th, td {
        text-align: left;
        border-bottom: 1px solid var(--light-gray);
        padding: 12px 15px;

        @media screen and (max-width: 576px){
            padding: 6px 7px;
        }

        &.team-cell{
            display: flex;
        }

        .team-logo-small{
            width: 60px;
            height: 60px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;
            font-size: 1.5rem;
            /*two*/
            //box-shadow: 0 5px 15px rgba(58, 95, 197, 0.3);

            @media screen and (max-width: 576px) {
                font-size: .8rem;
                width: 30px;
                height: 30px;
                margin-bottom: 4px;
            }

            @media screen and (max-width: 1501px) {
                font-size: .7rem;
                width: 20px;
                height: 20px;
                margin-bottom: 4px;
            }
        }
    }

    th {
        background: var(--light);
        font-weight: 600;
        color: var(--gray);
        font-size: 14px;
    }

    tr{
        @media screen and (max-width: 576px){
            font-size: 14px;
        }
        &:hover {
            background: var(--card-hover);
        }
        &.highlight {
            background: rgba(58, 86, 228, 0.08) !important;
            font-weight: 600;
        }
        .position {
            font-weight: 600;
            color: var(--gray);
            text-align: center;
        }
    }
}